{% extends 'main/layout.html' %}

{% block title %}
    Контакты
{% endblock %}

{% block content %}
<div class="features">
    <h1>Контакты</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lorem sem, pulvinar a posuere semper, viverra in elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet enim ex. Morbi nec turpis eu lectus accumsan semper tempus non nisl.
    </p>
    <button class="btn btn-info">Просто позвони</button>
</div>
{% endblock %}